* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
/* upper */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ulitems {
  display: flex;
  height: 60px;
  width: 600px;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.setitem {
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  color: white;
}
.setitem:hover {
  color: wheat;
}
.containor {
  width: 100%;
  height: 640px;
}
.containor::before {
  content: "";
  z-index: -1;
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./img/travel10.jpg) no-repeat center center/cover;
  filter: brightness(0.6);
}

.inside_containor {
  position: relative;
  top: 14rem;
  width: 75%;
  margin: auto;
}
.inside_containor button {
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  padding: 12px 28px;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.2s ease;
}
.inside_containor button:hover {
  background-color: #ff980047;
}

#logo {
  color: white;
  font-size: 24px;
}
.head1 {
  font-family: "Pushster", cursive;
  margin-bottom: 2rem;
  font-size: 94px;
  color: white;
  filter: drop-shadow(0px 6px 4px rgb(0, 0, 0, 20%));
}
.subhead {
  color: white;
  font-size: 36px;
  margin-bottom: 2rem;
}

/* uppermid  */

.uppermid_containor {
  width: 100%;
  padding: 6rem 3rem 6rem 3rem;
}

.head2 {
  font-size: 4rem;
  margin: 0 0 0 10rem;
  filter: drop-shadow(0px 6px 4px rgb(0, 0, 0, 16%));
}

.service_section {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.services {
  width: 330px;
  height: 700px;
  border-radius: 10px;
  padding: 3rem 1rem 1rem 1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.3);
  filter: brightness(0.8);
  transition: all 0.4s ease;
}

.services:hover {
  filter: brightness(1);
  transform: scale(0.98);
}

.service_text {
  color: white;
  font-size: 4rem;
}
#roadside {
  align-self: flex-start;
  background: url("./img/drive3.jpg") no-repeat center center/cover;
}
#trip {
  background: url("./img/travel9.jpg") no-repeat center center/cover;
  align-self: flex-end;
}
#miles {
  align-self: flex-start;
  background: url("./img/unlimited\ access.PNG") no-repeat center center/cover;
}
#camping {
  align-self: flex-end;
  background: url("./img/drive8.jpg") no-repeat center center/cover;
}
#serve {
  align-self: flex-start;
  background: url("./img/drive13.jpg") no-repeat center center/cover;
}

/* -------- grid */

.testimonial-grid {
  width: 56%;
  margin: 6rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
}

.testimonial {
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.4s ease;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.2));
}
.testimonial:hover {
  transform: scale(1.1);
}

.grid-span-2 {
  grid-column: span 2;
}

.flex {
  display: flex;
  align-items: center;
}
.flex:first-child {
  border-radius: 50%;
}
#griditem-1 {
  background-color: darkcyan;
  color: lightgray;
}
#griditem-2 {
  background-color: #19212e;
  color: lightgray;
}
#griditem-3 {
  background-color: #fff0db;
}
#griditem-4 {
  background-color: #19212e;
  color: lightgray;
}
#griditem-5 {
  grid-row: 1/3;
  grid-column: 4;
  background-color: #fff0db;
}
.person-image img {
  border-radius: 50%;
  width: 32px;
}
.person-detail {
  margin: 1rem;
}
.name {
  font-size: 14px;
}
.position {
  font-size: 12px;
}

.person-text {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}
.person-text1 {
  font-size: 16px;
}
/* lower */

.details {
  width: 100%;
  height: 800px;
  position: absolute;
  margin-top: 6rem;
}

.details::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 800px;
  background: url("./img/constant-loubier-u_VS49v03Hw-unsplash.jpg") no-repeat
    center center / cover;
}

.form {
  content: "";
  position: relative;
  top: 150px;
  height: 600px;
  width: 80%;
  margin: auto auto;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0, 0.16);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 30%);
  backdrop-filter: blur(6px);
}
